---
Checks: >
    modernize-*,
    -modernize-avoid-bind,
    -modernize-avoid-c-arrays,
    -modernize-concat-nested-namespaces,
    -modernize-macro-to-enum,
    -modernize-pass-by-value,
    -modernize-return-braced-init-list,
    -modernize-use-auto,
    -modernize-use-default-member-init,
    -modernize-use-emplace,
    -modernize-use-equals-default,
    -modernize-use-equals-delete,
    -modernize-use-nodiscard,
    -modernize-use-nullptr,
    -modernize-use-override,
    -modernize-use-trailing-return-type,
    misc-static-assert,
    -clang-analyzer-security.insecureAPI.rand,
    -clang-analyzer-core.uninitialized.UndefReturn,
    -clang-analyzer-core.StackAddressEscape,
    -clang-analyzer-core.CallAndMessage,
    -clang-analyzer-deadcode.DeadStores,
    -clang-diagnostic-unused-command-line-argument,
    -clang-analyzer-core.uninitialized.*,
    -clang-analyzer-core.NullDereference,
    -clang-analyzer-core.NonNullParamChecker,
    -clang-analyzer-optin.cplusplus.UninitializedObject
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
