# https://github.com/aspect-build/rules_js/issues/1408
startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1

common --enable_platform_specific_config

# TODO: remove once issues with yanked versions are resolved
common --allow_yanked_versions=rules_cc@0.1.0

coverage --experimental_ui_max_stdouterr_bytes=10485760

common:macos --linkopt=-L/opt/homebrew/lib

# disables telemetry https://github.com/aspect-build/tools_telemetry
common --repo_env=ASPECT_TOOLS_TELEMETRY=
