# https://github.com/aspect-build/rules_js/issues/1408
startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1

# TODO: remove with bazel 7.x
common --enable_bzlmod

# TODO: remove once bazel flips this flag
common --incompatible_disallow_empty_glob

coverage --experimental_ui_max_stdouterr_bytes=10485760
