---
BasedOnStyle: Chromium
ColumnLimit: '100'
FixNamespaceComments: 'true'
IncludeBlocks: Preserve
IndentWidth: '4'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: Cpp
NamespaceIndentation: None
PointerAlignment: Left
ReflowComments: 'true'
SortIncludes: 'true'
TabWidth: '4'

...
