---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
IndentWidth: 4
IncludeBlocks: Preserve
SortIncludes: false
SpacesBeforeTrailingComments: 1
...
