/mapbox-gl-native-android/MapboxGLAndroidSDK/mapbox-gl-native
/mapbox-gl-native-android/MapboxGLAndroidSDKTestApp/mapbox-gl-native
/platform/android/MapboxGLAndroidSDKTestApp/src/main/res/values/developer-config.xml
/platform/android/local.properties
/platform/android/gradle/configuration.gradle
/platform/android/arm64-v8a
/platform/android/armeabi-v7a
/platform/android/MapboxGLAndroidSDK/.cxx
/platform/android/MapboxGLAndroidSDK/build
/platform/android/MapboxGLAndroidSDKTestApp/.cxx
/platform/android/MapboxGLAndroidSDKTestApp/build
/platform/android/.gradle
/platform/android/x86
/platform/android/x86_64
/cmake-build-debug
/platform/android/build
/platform/android/MapboxGLAndroidSDK/src/main/assets/sdk_versions/com.mapbox.mapboxsdk
/platform/ios/platform/ios/Mapbox.playground/build/
*.code-workspace

.DS_Store
/build
**/.idea
/platform/android/MapboxGLAndroidSDKTestApp/local.properties
/new_offline.db
*.gpg
/.vscode
/platform/android/node_modules
/platform/android/signing-key.text
/platform/android/.java-version
*.hprof
/platform/ios/platform/ios/benchmark/assets/tiles/tiles
/platform/ios/platform/ios/benchmark/assets/glyphs/Roboto Regular,Noto Sans Regular
/platform/ios/platform/ios/benchmark/assets/glyphs/Roboto Medium,Noto Sans Regular
/platform/ios/platform/ios/benchmark/assets/glyphs/Roboto Condensed Italic,Noto Sans Italic
/platform/ios/platform/ios/benchmark/assets/glyphs/Noto Sans Regular
/platform/android/key.json
node_modules
# Node binaries.
/lib
