[submodule "vendor/earcut.hpp"]
	path = vendor/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "vendor/polylabel"]
	path = vendor/polylabel
	url = https://github.com/mapbox/polylabel.git
[submodule "vendor/protozero"]
	path = vendor/protozero
	url = https://github.com/mapbox/protozero.git
[submodule "vendor/vector-tile"]
	path = vendor/vector-tile
	url = https://github.com/maplibre/mvt-cpp.git
[submodule "vendor/wagyu"]
	path = vendor/wagyu
	url = https://github.com/mapbox/wagyu.git
[submodule "vendor/unique_resource"]
	path = vendor/unique_resource
	url = https://github.com/okdshin/unique_resource.git
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = https://github.com/google/benchmark.git
[submodule "vendor/eternal"]
	path = vendor/eternal
	url = https://github.com/mapbox/eternal.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/zip-archive"]
	path = vendor/zip-archive
	url = https://github.com/ZipArchive/ZipArchive.git
[submodule "vendor/cpp-httplib"]
	path = vendor/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "docs/doxygen/doxygen-awesome-css"]
	path = docs/doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "platform/windows/vendor/vcpkg"]
	path = platform/windows/vendor/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "vendor/harfbuzzFreetype/freetype"]
	path = vendor/freetype
  url=https://github.com/freetype/freetype.git
[submodule "vendor/harfbuzzFreetype/harfbuzz"]
	path = vendor/harfbuzz
  url=https://github.com/harfbuzz/harfbuzz
[submodule "vendor/boost"]
	path = vendor/boost
	url = https://github.com/maplibre/maplibre-gl-native-boost.git
[submodule "vendor/unordered_dense"]
	path = vendor/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "vendor/Vulkan-Headers"]
	path = vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "vendor/PMTiles"]
	path = vendor/PMTiles
	url = https://github.com/protomaps/PMTiles.git
[submodule "vendor/args"]
	path = vendor/args
	url = https://github.com/Taywee/args.git
[submodule "vendor/expected-lite"]
	path = vendor/expected-lite
	url = https://github.com/martinmoene/expected-lite.git
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "vendor/maplibre-native-base/deps/cheap-ruler-cpp"]
	path = vendor/maplibre-native-base/deps/cheap-ruler-cpp
	url = https://github.com/mapbox/cheap-ruler-cpp.git
[submodule "vendor/maplibre-native-base/deps/geojson-vt-cpp"]
	path = vendor/maplibre-native-base/deps/geojson-vt-cpp
	url = https://github.com/mapbox/geojson-vt-cpp.git
[submodule "vendor/maplibre-native-base/deps/geometry.hpp"]
	path = vendor/maplibre-native-base/deps/geometry.hpp
	url = https://github.com/mapbox/geometry.hpp.git
[submodule "vendor/maplibre-native-base/deps/jni.hpp"]
	path = vendor/maplibre-native-base/deps/jni.hpp
	url = https://github.com/mapbox/jni.hpp.git
[submodule "vendor/maplibre-native-base/deps/pixelmatch-cpp"]
	path = vendor/maplibre-native-base/deps/pixelmatch-cpp
	url = https://github.com/mapbox/pixelmatch-cpp.git
[submodule "vendor/maplibre-native-base/deps/shelf-pack-cpp"]
	path = vendor/maplibre-native-base/deps/shelf-pack-cpp
	url = https://github.com/mapbox/shelf-pack-cpp.git
[submodule "vendor/supercluster"]
	path = vendor/supercluster
	url = https://github.com/mapbox/supercluster.hpp.git
[submodule "vendor/maplibre-native-base/deps/variant"]
	path = vendor/maplibre-native-base/deps/variant
	url = https://github.com/mapbox/variant.git
[submodule "vendor/maplibre-native-base/deps/geojson.hpp"]
	path = vendor/maplibre-native-base/deps/geojson.hpp
	url = https://github.com/mapbox/geojson-cpp.git
[submodule "vendor/filesystem"]
	path = vendor/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "vendor/maplibre-tile-spec"]
	path = vendor/maplibre-tile-spec
	url = https://github.com/maplibre/maplibre-tile-spec.git
	branch = cpp
[submodule "vendor/kdbush.hpp"]
	path = vendor/kdbush.hpp
	url = https://github.com/mourner/kdbush.hpp.git
[submodule "vendor/webgpu-cpp"]
	path = vendor/webgpu-cpp
	url = https://github.com/eliemichel/WebGPU-Cpp.git
[submodule "vendor/wgpu-native"]
	path = vendor/wgpu-native
	url = https://github.com/gfx-rs/wgpu-native.git
