/platform/android/MapLibreAndroidTestApp/src/main/res/values/developer-config.xml

/platform/android/gradle/configuration.gradle
/platform/android/arm64-v8a
/platform/android/armeabi-v7a
/platform/android/MapLibreAndroid/build
/platform/android/MapLibrePlugin/build
/platform/android/MapLibreAndroidTestApp/build
/platform/android/buildSrc/build
/platform/android/x86
/platform/android/x86_64
/cmake-build-debug
/platform/android/build
/platform/android/MapLibreAndroid/src/main/assets/sdk_versions/com.mapbox.mapboxsdk
/platform/android/MapLibreAndroid/android-binaries-*.zip
*.code-workspace

local.properties
.gradle
.DS_Store
.cache
compile_commands.json
/build
/build-*
**/.idea
**/.clwb
/new_offline.db
*.gpg
/.vscode
/platform/android/node_modules
/platform/android/signing-key.text
/platform/android/.java-version
*.hprof
/platform/android/key.json
/platform/android/site
node_modules
.cxx
.env
vendor/dawn/

# Node binaries.
/lib

/bazel-*
/MODULE.bazel.lock
CMakeLists.txt.user
CMakeFiles
__generated__

/metrics/integration/query-tests/**/actual.json
/metrics/integration/render-tests/**/actual.png
/metrics/integration/render-tests/**/diff.png

cache.sqlite
cache.sqlite-journal
out.png
/test/android/app/build

# Rust
**/target/
**/*.rs.bk
**/*.profraw
