.git
.github
.gitmodules
build
design-proposals
lib
metrics
node_modules
platform/android
platform/ios
platform/qt
test/fixtures/offline_database
vendor/wagyu/tests
vendor/mapbox-base/deps/pixelmatch-cpp/test/fixtures
vendor/mapbox-base/deps/geojson-vt-cpp/test/fixtures
ARCHITECTURE.md
BUILD.bazel
CODE-OF-CONDUCT.md
CONTRIBUTING.md
DEVELOPING.md
WORKSPACE
*.mvt
