repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
  - id: clang-format
    files: '.*\.(hpp|cpp|h)'
    exclude: '(vendor/.*|darwin/include/mbgl/storage/reachability.h)'
- repo: https://github.com/keith/pre-commit-buildifier
  rev: 7.3.1
  hooks:
    - id: buildifier
- repo: https://github.com/Mateusz-Grzelinski/actionlint-py
  rev: v1.7.4.20
  hooks:
    - id: actionlint
      additional_dependencies: [shellcheck-py]
- repo: https://github.com/nicklockwood/SwiftFormat
  rev: "0.55.3"
  hooks:
    - id: swiftformat
      args: [--swiftversion, "5.8"]
ci:
  # sometimes fails https://github.com/keith/pre-commit-buildifier/issues/13
  skip: [buildifier]
  
