repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-yaml
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v16.0.6
  hooks:
  - id: clang-format
    files: '.*\.(hpp|cpp|h)'
    exclude: '(vendor/.*|platform/(ios|darwin|macos)/.*|test/ios/.*|render-test/ios/.*|benchmark/ios/.*)'
- repo: https://github.com/keith/pre-commit-buildifier
  rev: 6.1.0.2
  hooks:
    - id: buildifier
- repo: https://github.com/Mateusz-Grzelinski/actionlint-py
  rev: v1.6.25.9
  hooks:
    - id: actionlint
      additional_dependencies: [shellcheck-py]
ci:
  # sometimes fails https://github.com/keith/pre-commit-buildifier/issues/13
  skip: [buildifier]