repos:
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v16.0.3
  hooks:
  - id: clang-format
    files: '.*\.(hpp|cpp|h)'
    exclude: '(vendor/.*|platform/(ios|darwin)/.*|test/ios/.*|render-test/ios/.*|benchmark/ios/.*)'
- repo: https://github.com/keith/pre-commit-buildifier
  rev: 6.1.0
  hooks:
    - id: buildifier
