# generated sources. To update this list, run
# 'make style-code' and copy paste generate-style-code.list

MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/light/Light.java
MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/LightTest.java
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/FillLayer.java
MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/FillLayerTest.java
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/LineLayer.java
MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/LineLayerTest.java
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/SymbolLayer.java
MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/SymbolLayerTest.java
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/CircleLayer.java
MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/CircleLayerTest.java
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/HeatmapLayer.java
MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/HeatmapLayerTest.java
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/FillExtrusionLayer.java
MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/FillExtrusionLayerTest.java
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/RasterLayer.java
MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/RasterLayerTest.java
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/HillshadeLayer.java
MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/HillshadeLayerTest.java
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/BackgroundLayer.java
MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/testapp/style/BackgroundLayerTest.java
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/location/LocationIndicatorLayer.java
MapboxGLAndroidSDKTestApp/src/androidTest/java/org/maplibre/android/location/LocationIndicatorLayerTest.java
MapboxGLAndroidSDK/src/cpp/style/layers/fill_layer.hpp
MapboxGLAndroidSDK/src/cpp/style/layers/fill_layer.cpp
MapboxGLAndroidSDK/src/cpp/style/layers/line_layer.hpp
MapboxGLAndroidSDK/src/cpp/style/layers/line_layer.cpp
MapboxGLAndroidSDK/src/cpp/style/layers/symbol_layer.hpp
MapboxGLAndroidSDK/src/cpp/style/layers/symbol_layer.cpp
MapboxGLAndroidSDK/src/cpp/style/layers/circle_layer.hpp
MapboxGLAndroidSDK/src/cpp/style/layers/circle_layer.cpp
MapboxGLAndroidSDK/src/cpp/style/layers/heatmap_layer.hpp
MapboxGLAndroidSDK/src/cpp/style/layers/heatmap_layer.cpp
MapboxGLAndroidSDK/src/cpp/style/layers/fill_extrusion_layer.hpp
MapboxGLAndroidSDK/src/cpp/style/layers/fill_extrusion_layer.cpp
MapboxGLAndroidSDK/src/cpp/style/layers/raster_layer.hpp
MapboxGLAndroidSDK/src/cpp/style/layers/raster_layer.cpp
MapboxGLAndroidSDK/src/cpp/style/layers/hillshade_layer.hpp
MapboxGLAndroidSDK/src/cpp/style/layers/hillshade_layer.cpp
MapboxGLAndroidSDK/src/cpp/style/layers/background_layer.hpp
MapboxGLAndroidSDK/src/cpp/style/layers/background_layer.cpp
MapboxGLAndroidSDK/src/cpp/style/layers/location_indicator_layer.hpp
MapboxGLAndroidSDK/src/cpp/style/layers/location_indicator_layer.cpp
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/PropertyFactory.java
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/location/LocationPropertyFactory.java
MapboxGLAndroidSDK/src/main/java/org/maplibre/android/style/layers/Property.java