[submodule "vendor/mapbox-gl-native"]
	path = vendor/mapbox-gl-native
	url = https://github.com/mapbox/mapbox-gl-native.git
[submodule "vendor/mapbox-events-android"]
	path = vendor/mapbox-events-android
	url = https://github.com/mapbox/mapbox-events-android.git
[submodule "vendor/mapbox-java"]
	path = vendor/mapbox-java
	url = https://github.com/mapbox/mapbox-java.git
[submodule "vendor/mapbox-gestures-android"]
	path = vendor/mapbox-gestures-android
	url = https://github.com/mapbox/mapbox-gestures-android.git
