name: android-release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: platform/android
    env:
      JOBS: 8
      BUILDTYPE: Release
      IS_LOCAL_DEVELOPMENT: false
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Get CMake and Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: 3.24.1
          ninjaVersion: latest

      - name: npm install
        run: npm install --ignore-scripts

      - name: Android nitpick
        run: make run-android-nitpick

      - name: Validate and set version
        run: ../../.github/scripts/validate-version.sh

      - name: Build package
        run: |
          RENDERER=vulkan make apackage
          BUILDTYPE=Debug RENDERER=vulkan make apackage
          RENDERER=drawable make apackage
          BUILDTYPE=Debug RENDERER=drawable make apackage

      # create github release
      - name: Prepare release
        id: prepare_release
        run: |
          RELEASE_NOTES_PATH="${PWD}/release_notes.txt"
          node scripts/release-notes.mjs > "${RELEASE_NOTES_PATH}"
          echo release_notes="${RELEASE_NOTES_PATH}" >> "$GITHUB_OUTPUT"
          echo version_tag=android-v${{ env.version }} >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Check if version is pre-release
        id: check_version
        run: |
          version="${{ env.version }}"
          if [[ $version =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Valid semver: $version"
            echo "prerelease=false" >> "$GITHUB_ENV"
          else
            echo "Invalid semver: $version"
            echo "prerelease=true" >> "$GITHUB_ENV"
          fi

      - name: Create tag if it does not exist
        run: |
          git config user.name "MapLibre Team"
          git config user.email "team@maplibre.org"
          tag="android-v${{ env.version }}"

          if git rev-parse "$tag" >/dev/null 2>&1; then
            tag_sha=$(git rev-parse "$tag^{commit}")
            if [ "$tag_sha" = "${{ github.sha }}" ]; then
              echo "✅ Tag $tag exists and matches current commit SHA."
              exit 0
            else
              echo "::error::❌ Tag $tag exists but points to a different commit. Aborting."
              exit 1
            fi
          else
            git tag -a "$tag" -m "Publish $tag" ${{ github.sha }}
            git push origin "$tag"
          fi

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.MAPLIBRE_NATIVE_PRIVATE_TOKEN }}
        with:
          tag_name: ${{ steps.prepare_release.outputs.version_tag }}
          release_name: ${{steps.prepare_release.outputs.version_tag }}
          body_path: ${{ steps.prepare_release.outputs.release_notes }}
          draft: false
          prerelease: ${{ env.prerelease }}

      - name: Upload aar (OpenGL)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.MAPLIBRE_NATIVE_PRIVATE_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: platform/android/MapLibreAndroid/build/outputs/aar/MapLibreAndroid-drawable-release.aar
          asset_name: MapLibreAndroid-release.aar
          asset_content_type: application/zip

      - name: Upload aar (OpenGL, Debug)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: platform/android/MapLibreAndroid/build/outputs/aar/MapLibreAndroid-drawable-debug.aar
          asset_name: MapLibreAndroid-debug.aar
          asset_content_type: application/zip

      - name: Upload aar (Vulkan)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.MAPLIBRE_NATIVE_PRIVATE_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: platform/android/MapLibreAndroid/build/outputs/aar/MapLibreAndroid-vulkan-release.aar
          asset_name: MapLibreAndroid-release-vulkan.aar
          asset_content_type: application/zip

      - name: Upload aar (Vulkan, Debug)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: platform/android/MapLibreAndroid/build/outputs/aar/MapLibreAndroid-vulkan-debug.aar
          asset_name: MapLibreAndroid-debug-vulkan.aar
          asset_content_type: application/zip

      - name: Upload debug symbols (OpenGL)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.MAPLIBRE_NATIVE_PRIVATE_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: platform/android/build/debug-symbols-opengl.tar.gz
          asset_name: debug-symbols-maplibre-android-opengl-${{ steps.prepare_release.outputs.version_tag }}.tar.gz
          asset_content_type: application/gzip

      - name: Upload debug symbols (Vulkan)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.MAPLIBRE_NATIVE_PRIVATE_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: platform/android/build/debug-symbols-vulkan.tar.gz
          asset_name: debug-symbols-maplibre-android-vulkan-${{ steps.prepare_release.outputs.version_tag }}.tar.gz
          asset_content_type: application/gzip

      - name: Clean release
        run: |
          rm -f ${{ steps.prepare_release.outputs.release_notes }}
        shell: bash

      - name: Publish to Github
        env:
          GITHUB_TOKEN: ${{ secrets.MAPLIBRE_NATIVE_PRIVATE_TOKEN }}
        run: make run-android-publish
