name: android-release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  android-create-release:
    runs-on: ubuntu-24.04
    outputs:
      version_tag: ${{ steps.prepare_release.outputs.version_tag }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    defaults:
      run:
        working-directory: platform/android
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4

      - name: Validate and set version
        working-directory: .
        run: .github/scripts/validate-version.sh platform/android/VERSION

      - name: npm install
        run: npm install --ignore-scripts

      # create github release
      - name: Prepare release
        id: prepare_release
        run: |
          RELEASE_NOTES_PATH="${PWD}/release_notes.txt"
          node scripts/release-notes.mjs ${{ env.version }} > "${RELEASE_NOTES_PATH}"
          echo release_notes="${RELEASE_NOTES_PATH}" >> "$GITHUB_OUTPUT"
          echo version_tag=android-v${{ env.version }} >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Check if version is pre-release
        id: check_version
        run: |
          version="${{ env.version }}"
          if [[ $version =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Valid semver: $version"
            echo "prerelease=false" >> "$GITHUB_ENV"
          else
            echo "Invalid semver: $version"
            echo "prerelease=true" >> "$GITHUB_ENV"
          fi

      - name: Create tag if it does not exist
        working-directory: .
        run: .github/scripts/ensure-tag.sh android-v${{ env.version }} ${{ github.sha }}

      - name: Create release
        id: create_release
        uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.MAPLIBRE_NATIVE_PRIVATE_TOKEN }}
        with:
          tag_name: ${{ steps.prepare_release.outputs.version_tag }}
          release_name: ${{steps.prepare_release.outputs.version_tag }}
          body_path: ${{ steps.prepare_release.outputs.release_notes }}
          draft: false
          prerelease: ${{ env.prerelease }}

  android-build-and-upload-release:
    needs: android-create-release
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: platform/android
    env:
      JOBS: 8
      IS_LOCAL_DEVELOPMENT: false
    strategy:
      matrix:
        RENDERER:
          - vulkan
          - opengl
        BUILDTYPE:
          - Release
          - Debug
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Free disk space
        working-directory: .
        run: .github/scripts/free_disk_space.sh

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v4
        with:
          node-version-file: ".nvmrc"

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: npm install
        run: npm install --ignore-scripts

      - name: Android nitpick
        run: make run-android-nitpick

      - name: Build package
        run: RENDERER=${{ matrix.RENDERER }} BUILDTYPE=${{ matrix.BUILDTYPE }} make apackage

      - name: Save buildtype to GITHUB_ENV
        run: |
          buildtype=${{ matrix.BUILDTYPE }}
          # lowercase
          echo buildtype=${buildtype,,} > "$GITHUB_ENV"

      - name: Upload aar (${{ matrix.RENDERER }}, ${{ matrix.BUILDTYPE }})
        uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.android-create-release.outputs.upload_url }}
          asset_path: platform/android/MapLibreAndroid/build/outputs/aar/MapLibreAndroid-${{ matrix.RENDERER }}-${{ env.buildtype }}.aar
          asset_name: MapLibreAndroid-${{ matrix.RENDERER }}-${{ env.buildtype }}-${{ needs.android-create-release.outputs.version_tag }}.aar
          asset_content_type: application/zip

      - name: Upload debug symbols (${{ matrix.RENDERER }}, ${{ matrix.BUILDTYPE }})
        uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.android-create-release.outputs.upload_url }}
          asset_path: platform/android/build/debug-symbols-${{ matrix.RENDERER }}-${{ env.buildtype }}.tar.gz
          asset_name: debug-symbols-maplibre-android-${{ matrix.RENDERER }}-${{ env.buildtype }}-${{ needs.android-create-release.outputs.version_tag }}.tar.gz
          asset_content_type: application/gzip

      - name: Publish to Github
        env:
          GITHUB_TOKEN: ${{ secrets.MAPLIBRE_NATIVE_PRIVATE_TOKEN }}
        run: |
            renderer=${{ matrix.RENDERER }}
            if [ "$renderer" = "opengl" ]; then
              ./gradlew :MapLibreAndroid:publishDefault${{ env.buildtype }}PublicationToGithubPackagesRepository
            else
              ./gradlew :MapLibreAndroid:publishVulkan${{ env.buildtype }}PublicationToGithubPackagesRepository
            fi

      - run: npm install
        working-directory: .

      - name: Write release notifications
        if: github.repository_owner == 'maplibre'
        env:
          GITHUB_TOKEN: ${{ secrets.MAPLIBRE_NATIVE_PRIVATE_TOKEN }}
        run: node .github/scripts/notify-release-on-prs.ts --tag ${{ needs.android-create-release.outputs.version_tag }}
        working-directory: .
