name: ios-release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted, macOS, ARM64]
    env:
      BUILDTYPE: Release
      HOMEBREW_NO_AUTO_UPDATE: 1
      HOMEBREW_NO_INSTALL_CLEANUP: 1
    defaults:
      run:
        working-directory: platform/ios
        shell: bash 

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
      
      - name: Install macos dependencies
        run: |
          brew list cmake || brew install cmake
          brew list pkg-config || brew install pkg-config
          brew list glfw || brew install glfw

      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: npm install
        run: npm ci --ignore-scripts          

      - name: Install iOS packaging dependencies
        run: |
          ./platform/ios/scripts/install-packaging-dependencies.sh
        env:
          CILAUNCH: true

      - name: Build, package, and upload iOS release
        run: platform/ios/scripts/deploy-swift-package.sh
        env:
          DIST_GITHUB_TOKEN: ${{ secrets.DIST_GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
