name: node-ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - 'node-*'
    paths:
      - 'platform/node/**'
      - ".github/workflows/node-ci.yml"
      - "bin/**"
      - "expression-test/**"
      - "include/**"
      - "metrics/**"
      - "platform/default/**"
      - "render-test/**"
      - "scripts/**"
      - "src/**"
      - "test/**"
      - "vendor/**"
      - maplibre-gl-js
      - ".gitmodules"
      - "!**/*.md"

  pull_request:
    branches:
      - main
    paths:
      - 'platform/node/**'
      - ".github/workflows/node-ci.yml"
      - "bin/**"
      - "expression-test/**"
      - "include/**"
      - "metrics/**"
      - "platform/default/**"
      - "render-test/**"
      - "scripts/**"
      - "src/**"
      - "test/**"
      - "vendor/**"
      - maplibre-gl-js
      - ".gitmodules"
      - "!**/*.md"

concurrency:
  # cancel jobs on PRs only
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  test:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: ubuntu-20.04
            arch: x86_64
          - runs-on: macos-12
            arch: x86_64
          - runs-on: macos-12-arm
            arch: arm64
          - runs-on: windows-2022
            arch: x86_64
    continue-on-error: true
    env:
      BUILDTYPE: ${{github.ref == 'refs/heads/main' && 'Release' || 'Debug'}}

    defaults:
      run:
        working-directory: ./
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c core.longpaths=true -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive || true

      - name: Get OS Architecture
        if: runner.os == 'MacOS' || runner.os == 'Linux'
        run: uname -m

      - name: Install dependencies (MacOS)
        if: runner.os == 'MacOS'
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
          HOMEBREW_NO_INSTALL_CLEANUP: 1
        run: |
          brew list cmake || brew install cmake
          brew list ccache || brew install ccache
          brew list ninja || brew install ninja
          brew list pkg-config || brew install pkg-config
          brew list glfw || brew install glfw
          brew list libuv || brew install libuv

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            ccache \
            cmake \
            ninja-build \
            pkg-config \
            xvfb \
            libcurl4-openssl-dev \
            libglfw3-dev \
            libuv1-dev \
            g++-10 \
            libc++-9-dev \
            libc++abi-9-dev
          /usr/sbin/update-ccache-symlinks

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: npm ci
        run: npm ci --ignore-scripts

      - name: Set up msvc dev cmd (Windows)
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Update ccache (Windows)
        if: runner.os == 'Windows'
        run: |
          choco.exe upgrade ccache
          ccache.exe --version
          echo "CCACHE_CONFIGPATH=C:/Users/runneradmin/AppData/Roaming/ccache/ccache.conf" >> $GITHUB_ENV

      - name: Set up ccache
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ${{ matrix.runs-on }}

      - name: Configure maplibre-gl-native (MacOS)
        if: runner.os == 'MacOS'
        run: |
          cmake . -B build \
            -G Ninja \
            -DCMAKE_BUILD_TYPE=${{ env.BUILDTYPE }} \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \

      - name: Configure maplibre-gl-native (Linux)
        if: runner.os == 'Linux'
        run: |
          cmake . -B build \
            -G Ninja \
            -DCMAKE_BUILD_TYPE=${{ env.BUILDTYPE }} \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -DCMAKE_C_COMPILER=gcc-10 \
            -DCMAKE_CXX_COMPILER=g++-10

      - name: Configure maplibre-gl-native (Windows)
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          cmake . -B build ^
            -G Ninja ^
            -DCMAKE_BUILD_TYPE=${{ env.BUILDTYPE }} ^
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache.exe

      - name: Build maplibre-gl-native (MacOS/Linux)
        if: runner.os == 'MacOS' || runner.os == 'Linux'
        run: |
          cmake --build build -j $(nproc 2>/dev/null || sysctl -n hw.ncpu 2>/dev/null)

      - name: Build maplibre-gl-native (Windows)
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          cmake --build build

      - name: Run render tests on (MacOS)
        if: runner.os == 'MacOS'
        run: ./build/mbgl-render-test-runner --manifestPath metrics/macos-xcode11-release-style.json

      - name: Upload render test artifacts (MacOS)
        if: runner.os == 'MacOS'
        uses: actions/upload-artifact@v3
        with:
          name: render-query-test-results
          path: metrics/macos-xcode11-release-style.html

      - name: Test (Linux)
        if: runner.os == 'Linux'
        run: xvfb-run --auto-servernum npm test

      - name: Test (MacOS)
        if: runner.os == 'MacOS'
        run: npm test

      - name: Test (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        env:
          LIBGL_ALWAYS_SOFTWARE: true
          GALLIUM_DRIVER: softpipe
        run: |
          Invoke-WebRequest https://github.com/pal1000/mesa-dist-win/releases/download/22.3.5/mesa3d-22.3.5-release-msvc.7z -OutFile mesa3d.7z
          & 'C:\Program Files\7-Zip\7z.exe' e -olib\node-v108 .\mesa3d.7z x64\opengl32.dll x64\libgallium_wgl.dll x64\libGLESv2.dll x64\libglapi.dll
          npm test

      # On PRs make sure that the npm package can be packaged.
      - name: Pack
        if: github.ref != 'refs/heads/main'
        run: |
          npm pack --dry-run
          
  test_linux_arm:
    runs-on: macos-12-arm
    name: test (ubuntu-20.04, arm64)
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install dependencies macOS
        if: runner.os == 'macOS'
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
          HOMEBREW_NO_INSTALL_CLEANUP: 1
        run: |
          brew install docker docker-compose

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Create the docker build image
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/arm64
          file: platform/node/scripts/Dockerfile_Build
          tags: build
          push: false
          load: true

      - name: Run the docker build image and create node libs
        run:  docker run --rm -v $(pwd):/data build
